#tblLegend {
	margin-top: 20px;
	font-weight: bold;
    width: 500px;
}

#tblLegend td {
	padding-left: 5px;
	padding-right: 5px;
}

#currentSprintPerformance {
	margin-top: 50px;
}
.container {
	margin-top: 70px;
}